[submodule "src/ext/glfw"]
	path = src/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/ext/imgui/imgui"]
	path = src/ext/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/compute"]
	path = src/compute
	url = https://github.com/LuisaGroup/LuisaRender.git
[submodule "src/ext/stb/stb"]
	path = src/ext/stb/stb
	url = https://github.com/nothings/stb.git
